{% extends "base.html" %}
{% block title %}Film's collection{% endblock %}
{% block content %}
    {% if usr %}
        <h1>Hello {{ usr }}</h1>
        <br><br><br>
        <h2>If you want to add new film to our collection:   <a href="/profile/add_film">Click here</a></h2>
        <br>
        <h1>You previously added these films: </h1>
    {% else %}
        <h1>Here is our films collection: </h1>
    {% endif %}

    <br><br>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id="myInput" onkeyup="searchFunction()"
               placeholder="Search for names.." aria-label="Search">
    </form>
    <table id="myTable" class="table">
	    <thead>
		    <tr>
			    <th>Title</th>
			    <th>Added by</th>
			    <th>Content</th>
                <th></th>
		    </tr>
	    </thead>
	    <tbody>
	    {% if films %}
            {% for film in films %}
                <tr>
                    <td>
                        <a href="/home/{{film.film_id}}">{{film.name}}</a>
                    </td>
                    <td>{{ film.author }}</td>
                    <td>{{ film.content[:20] }}...</td>
                </tr>
            {% endfor %}
        {% endif %}
	    </tbody>
    </table>
    <script>
    function searchFunction()
    {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                }
                else
                {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>

{% endblock %}