{% extends "base.html" %}
{% block title %}Film{% endblock %}
{% block content %}
<h1>Film name: {{ film.name }}</h1>
<h2>Added by: {{ film.author }}</h2>


    <hr>
<p>
{{ film.content }}
</p>

<a href="/home/{{ film.film_id }}/edit">Edit film content</a><br/><br/>
<form action="/home/{{ film.film_id }}/delete" method="POST">
  <button type="submit">Delete film</button>
</form>
<br/>

<form action="/new_comment" method="POST">
  <input type="text" name="message">
  <input type="hidden" name="film_id" value="{{ film.film_id }}">
  <button type="submit">Create comment</button>
</form>
<div id="comments" style="border: 1px solid black">
{% for comment in film.comments() %}
  {{ comment.message }}
  <br/>
  <br/>
{% endfor %}
</div>
{% endblock %}



