{% extends "base.html" %}
{% block title %}Film{% endblock %}
{% block content %}
<h1>{{ film.name }}</h1>
<p>Added by: {{ film.author }}</p>


    <hr>
<p>
{{ film.content }}
</p>

    {% if edit %}
        <a href="/home/{{ film.film_id }}/edit">Edit film content</a><br/><br/>
        <form action="/home/{{ film.film_id }}/delete" method="POST">
          <button type="submit">Delete film</button>
        </form>
        <br/>
    {% endif %}

<form action="/new_comment" method="POST">
  <input type="text" name="message">
  <input type="hidden" name="film_id" value="{{ film.film_id }}">
  <button type="submit">Create comment</button>
</form>
<div id="comments" style="border: 1px solid black">
{% for comment in film.comments() %}
  {{ film.author }}: {{ comment.message }}
  <br/>
  <br/>
{% endfor %}
</div>
{% endblock %}



